html, body {

    font-family: "Robotto", sans-serif;
    font-size: 1.1rem;
    color: #ffffff;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.footer {
    font-size: 0.8rem;
}

.centered {
    display:flex;
    align-items: center;
    justify-content: center;

}

.heading-1-pink {
    font-weight: bold;
    color:#bb00ff;
    font-size: 3.5rem;
}

.heading-1-purple {
    font-weight: bold;
    color:#7f00ff;
    font-size: 2.5rem;
}

.logo-container img {
    width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {

    body {
	font-size: 0.8rem;
    }
    
    .logo-container img {
	width: 70%;
    }
    .box {
	width: 90%;
	padding: 0rem;
	width: 95%;
    }
}

@media only screen and (orientation: landscape) {
    .bg {
	background-size: cover;
    }
}

.bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: linear-gradient(#000031 0%, #2f2f4d 35%, #442450 85%, #bb00ff 100%) center center;
    background-size: cover;
    z-index: -1000;
}

.box {
  width: calc(90% - 2rem);
  height: 80%;
  border: 0.25em solid;
  border-top-color: #7f00ff;
  border-left-color: #7f00ff;
  border-right-color:  #bb00ff;
  border-bottom-color: #bb00ff;
  color: #ffffff;
  background-color: #572ba2;
  /*display: flex;
  justify-content: center;
  align-items: center; */
  margin: 1rem auto;
  padding: 1rem;
  box-sizing: border-box;
}

.align-left {
    display: flex;
    justify-content: flex-start;
}
